.cat-list,
.product-list{
    &.mat-list-base{
        .mat-list{
            &-item{
                height: auto;
                margin-bottom: 0.8em;
                opacity: .4;
                cursor: pointer;
                &-content{
                    height: auto !important;
                    display: inline-block !important;
                    padding: 0 !important;
                    @include mq('md'){
                        width: 84%;
                    }
                }
                &.item-active{
                    opacity: 1;
                    .item-content{
                        box-shadow: 0 4px 14px rgba($gray, .2);
                    }
                }
            }
        }
        .item-content{
            display: flex;
            padding: 0;
            // align-items: center;
            background: $white;
            color: $black;
            font-family: $h-r;
            // box-shadow: 0 4px 14px rgba($gray, .2);
            border-radius: 14px;
            overflow: hidden;
            position: relative;
            img{
                width: 28%;
                object-fit: cover;
                margin: 0;
            }
            .mat-line{
                margin-bottom: 0;
                padding: 1.4em 1em;
                font-size: 16px;
            }
            @include mq('md'){
                img{
                    width: 100px;
                }
            }
        }
        .item-actions{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            height: 100%;
            padding: 0 .7em;
            justify-content: center;
            a{
                margin: 7px 0;
            }
        }
    }
}

.product-list{
    &.mat-list-base{
        .mat-list{
            &-item{
                opacity: 1;
            }
        }
        .item-content{
            box-shadow: 0 4px 14px rgba($gray, .2);
            .mat-line{
                padding: 1em;
            }
        }
    }
}

.catalog-products{
    display: flex;
    flex-direction: column;
    @include mq('md'){
        flex-direction: row;
    }
    .column-title{
        color: $black;
        font-size: 28px;
        font-family: $h-b;
    }
    .first-column,
    .second-column{
        @include mq('md'){
            width: 42%;
            margin-right: 4.2em;
            padding-right: .5em;
            &:first-of-type{
                border-right: 1px solid $grayM;
            }
        }
    }
    .infinitus-btn--secundary{
        margin-left: 38%;
    }
    .modifiers{
        padding: 0 1em;
        &-title{
            font-size: 12px;
            color: $gray;
            margin-bottom: 0;
        }
        &-list{
            margin-top: 0;
            font-size: 15px;
        }
    }
}