.cdk-overlay-pane{
    &.custom-modalbox{
        max-width: 1000px !important;
        .mat-dialog{
            &-container{
                //position: relative;
                background: $white;
                //padding: 1.4em 1em;
                //overflow: inherit;
                h1{
                    color: $black;
                    font-family: $h-b;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba($grayM, .5);
                    + button{
                        @extend .close-btn;
                    }
                }
                hr{
                    display: none;
                }
            }
        }
        .modal-actions{
            text-align: center;
            margin: 2.1em 0 1em;
            &.group-btn{
                button{
                    margin: 0 1em;
                }
            }
        }
    }
}