@font-face {
    font-family: 'Heebo Light';
    font-weight: 300;
    font-style: normal;
    src: url('/assets/fonts/heebo/Heebo-Light.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/heebo/Heebo-Light.woff2') format("woff2"),
         url('/assets/fonts/heebo/Heebo-Light.woff') format("woff"),
         url('/assets/fonts/heebo/Heebo-Light.ttf') format("truetype"),
         url('/assets/fonts/heebo/Heebo-Light.svg') format("svg"); 
}
@font-face {
    font-family: 'Heebo Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/heebo/Heebo-Regular.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/heebo/Heebo-Regular.woff2') format("woff2"),
         url('/assets/fonts/heebo/Heebo-Regular.woff') format("woff"),
         url('/assets/fonts/heebo/Heebo-Regular.ttf') format("truetype"),
         url('/assets/fonts/heebo/Heebo-Regular.svg') format("svg"); 
}
@font-face {
    font-family: 'Heebo Medium';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/heebo/Heebo-Medium.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/heebo/Heebo-Medium.woff2') format("woff2"),
         url('/assets/fonts/heebo/Heebo-Medium.woff') format("woff"),
         url('/assets/fonts/heebo/Heebo-Medium.ttf') format("truetype"),
         url('/assets/fonts/heebo/Heebo-Medium.svg') format("svg"); 
}
@font-face {
    font-family: 'Heebo Bold';
    font-weight: bold;
    font-style: normal;
    src: url('/assets/fonts/heebo/Heebo-Bold.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/heebo/Heebo-Bold.woff2') format("woff2"),
         url('/assets/fonts/heebo/Heebo-Bold.woff') format("woff"),
         url('/assets/fonts/heebo/Heebo-Bold.ttf') format("truetype"),
         url('/assets/fonts/heebo/Heebo-Bold.svg') format("svg"); 
}
@font-face {
    font-family: 'Roboto Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/roboto/Roboto-Regular.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/roboto/Roboto-Regular.woff2') format("woff2"),
         url('/assets/fonts/roboto/Roboto-Regular.woff') format("woff"),
         url('/assets/fonts/roboto/Roboto-Regular.ttf') format("truetype"),
         url('/assets/fonts/roboto/Roboto-Regular.svg') format("svg"); 
}