// Colors
$textC: #707070;
$gray: #A0A0A0;
$grayL: #FAFAFA;
$grayM: #000000;
$black: #474747;
$white: #fff;
$blueA: #0d6efd;
$purpleB: #783c8f;
$purpleA: #591972;
$greenB: #70D44B;
$blueB: #19D3C5;
$red: #F64D4D;
$green: #4DF6AD;



//FONTS
$h-l: "Heebo Light";
$h-r: "Heebo Regular";
$h-m: "Heebo Medium";
$h-b: "Heebo Bold";
$r-r: "Roboto Regular";
